<!DOCTYPE HTML>
<HTML lang="KO">
<HEAD>
    <title>{% block title %} AWS / Django Web Application {% endblock %}</title>
    <meta charset="utf-8"/>
    {% load static %}
    <link rel='stylesheet' href="{% static 'boardapp/assets/css/main.css' %}" />
    {% load static %}
    <script src="{% static 'boardapp/assets/js/jquery-3.3.1.min.js' %}"></script>
    {% block script %}{% endblock %}
</HEAD>
<body>
    <div ID="header">
        <div class="logo">
            <div class="row">
                <div class="col-8 logo-link dark-link">
                    <a href="{% url 'main' %}"> AWS / Django Web Application</a>
                </div>
                <div class="col-4 center member-link dark-link">
                    {% if user.username %}
                        <a href="{% url 'password_change' %}">{{ user.last_name }} 님</a> / 
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a> / 
                        <a href="{% url 'register' %}">Sign In</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="row">
                <div class="col-2 center sideline dark-link">
                    <a href="{% url 'main' %}">HOME</a>
                </div>
                <div class="col-2 center sideline dark-link">
                    <a href="{% url 'introduce' %}">Introduce</a>
                </div>
                <div class="col-2 center sideline dark-link">
                    <a href="{% url 'boardlist' 'notice' %}">Notice</a>
                </div>
                <div class="col-2 center sideline dark-link">
                    <a href="{% url 'boardlist' 'free' %}">Free Board</a>
                </div>
                <div class="col-2 center sideline dark-link">
                    <a href="{% url 'commlist' 'comm' %}">Community Board</a>
                </div>
                <div class="col-2 center sideline dark-link">&nbsp;</div>
            </div>
        </div>
    </div>
    <div id="container">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <div id="row">
            <div class="col-12 center">Copyright by Digitalbooks / 
                <a href="mailto:onikaze.books@gmail.com">Contact Us</a>
            </div>
        </div>
    </div>
</body>
</HTML>